body {
  background-color: hsl(0, 0%, 20%);
}
.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 80px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

h1 {
  font-size: 2.5rem;
  color: white;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: hsl(122, 39%, 60%);
  transform: translate(-8px, 1px);
  height: 34px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

.add-button:hover {
  background-color: hsl(122, 39%, 40%);
}

.remove-button {
  background-color: hsl(0, 82%, 60%);
}

.remove-button:hover {
  background-color: hsl(0, 82%, 40%);
}

.move-button {
  background-color: hsl(228, 82%, 60%);
}

.move-button:hover {
  background-color: hsl(228, 82%, 40%);
}

input[type="text"] {
  font-size: 1rem;
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 4.6px;
  color: hsl(0, 0%, 80%);
}
input[type="color"] {
  border: none;
  padding: 0;
  height: 32px;
  transform: translate(0, 6.5px);
  margin-left: -2px;
  margin-right: -2px;
}
ul {
  padding: 0;
}
li {
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 70%);
}

.text {
  flex: 1;
}

.remove-button,
.move-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 1.2rem;
}
